.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .score {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
.score-img {
    width: 70%;
}